$primary: #cda45e;

$body-bg: #0c0b09;
$body-color: #fff;

$link-decoration: none;

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Playfair Display', serif;

$nav-pills-border-radius: 0;
